<!-- Page Wrapper -->
<div id="page-wrapper">

  <!-- Header -->
  <header id="header" class="alt">
  <h1><a href="index.html">Picstory</a></h1>

  </header>

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h2>Picstory</h2>
      <p>Create your story<br />
        and share it with only those <br />
        you care about.</p>
        <ul class="actions">
          <li><a href="#" class="button special">Coming Soon</a></li>
        </ul>
      </div>

    </section>


  </div>
